header {
  text-align: center;
}
table {
  font-weight: bold;
  width: 50%;
  border-collapse: separate;
  text-align: center;
  margin-left: 25%;
}
table,
td,
th {
  border: 2px solid grey;
}
.tdcurta {
  width: 30%;
}
